<header class="header">
    <nav class="m-3">
        <ul>
            <li><a href="{% url 'polls:index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'polls:question_new' %}" class="top-menu">New Poll</a></li>
                <li><a href="{% url "users:profile" user.id %}">Profile</a></li>
                <li><a href="{% url "account_logout" %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url "account_login" %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</header>